.col.s3
    p От #{order.createdAt}
    p Автор #{order.user}
    p Сотрудник #{order.user}
    p Клиент
    p ФИО #{order.client.name}
    p Телефон #{order.client.phone}
    p Email #{order.client.email}
.col.s4
    p
        p=order.information
.col.s2
        p Количество #{order.number}
        p=order.file
.col.s3
    p Статус
    p Всего #{order.juid}
    p К доплате #{order.prepayment}
    p Оплачено
.col.s12.footer-order
    a.btn(src='#') Выполнить
    a.btn(src='#') Доставка
    a.btn(src='#') Отказ
    a.btn(src='#') Чек
    a.btn(src='#') Полный просмотр
    a.btn(src='#') Редактировать
