extends layout
mixin navLink(link, name, icon)
    li
        a(href=link class='waves-effect waves-blue navLink')
            i(class='material-icons') #{icon}
            |  #{name}
mixin gridView()
    each val in order
        tr
          td=val.orderId
          td=val.time
          td=val.description
          td=val.tags
          td=val.shipping
          td=val.juid
          td=val.status
        div.collapsible-body

block content
    .navbar-fixed
        nav
            .nav-wrapper
                ul(class='right hide-on-med-and-down')
                    li
                        a(href='/logout') Выйти
    .row
        div(class='col s3')
            ul
                +navLink('/users', 'Заказы', 'account_balance_wallet')
                +navLink('#', 'Доставка', 'local_shipping')
                +navLink('#', 'Поломки', 'build')
                +navLink('#', 'Закупки', 'local_shipping')
                +navLink('#', 'Задачи', 'event_available')
                +navLink('#', 'Партнеры', 'person')
                +navLink('#', 'Guide', 'bookmark')
                +navLink('#', 'Контакты', 'contacts')
        div(class='col s9')
            h4 Добро пожаловать #{username}
            .fixed-action-btn
                a(class='btn-floating btn-large red')
                    i(class='large material-icons') add
                ul
                    li
                        a(class='btn-floating green modal-trigger' href='#modal1')
                            i(class='material-icons' title='Заказ') account_balance_wallet
                    li
                        a(class='btn-floating blue')
                            i(class='material-icons' title='Поломки') build
                    li
                        a(class='btn-floating red')
                            i(class='material-icons' title='Задачи') event_available
                    li
                        a(class='btn-floating yellow darken-1')
                            i(class='material-icons' title='Доставка') local_shipping
                    li
                        a(class='btn-floating orange')
                            i(class='material-icons' title='Закупки') add_shopping_cart
            table.highlight
                thead
                    tr
                        th Заказ
                        th Срок
                        th Описание
                        th Тег
                        th Доставка
                        th Сумма
                        th Статус
                tbody
                    +gridView
            include modalOrder